<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="Product validation">
        <classes>
            <class name="com.sellerchamp.qa.tests.FirstTest">
                <methods>
                    <include name="login"/>
                    <include name="navigateToProducts" />
                    <include name="downloadCSV" />

                </methods>
            </class>
        </classes>
    </test>
</suite>